.ytvideo {
	border: #997 1px solid;
	width: 570px;
	position: relative;
	float: left;
}
.yttag {
	text-transform: uppercase;
}
.ytthumb {
	padding: 4px;
	margin: 0;
	float: left;
}
.ytauthor, .ytmeta, .yttags, .ytdescription {
	font-size: 11px; padding: 0 4px 4px 0; margin: 0;
}